.gallery {
    list-style-type: none;
    padding: 0;
    margin: 0 0 100px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
    li {
           max-height: 495px;
           width:49%;
           padding-bottom: 20px;
       
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

@media (max-width : 782px) {
    .gallery {       
        flex-direction: column;
        gap:20px;
        align-items: center;
        margin: 0 0 20px 0;
       
        li {
                height: 278px;
                width: 317px;
                padding-bottom: 0;
                
              
           img{
            max-width: 317px;
           }
          
        }
    }


}