.gallery {
    max-width:1440px;
    width:100%;
    list-style-type: none;
    padding: 0;
    margin: 0 0 30px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
   
    li {
           height: 495px;
           
       
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

@media (max-width : 782px) {
    .gallery {   
        grid-template-columns: 1fr;    
        align-items: center;
        margin: 0 0 20px 0;
        width:auto;
       
        li {
                height: 278px;
                width: 317px;
                padding-bottom: 0;
                
              
           img{
            max-width: 317px;
           }
          
        }
    }


}