.single-photo__container {
    max-width: 1440px;
    margin: 0 auto;
    /* Centre la page horizontalement */
    padding: 80px 145px 0 145px;
    /* Optionnel : ajouter du padding pour l'espace intérieur */
    box-sizing: border-box;
    /* Inclut le padding dans la largeur totale */
}

.photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &__article {
        display: flex;
        flex-direction: row-reverse;
        max-width: 1148px;

        &--img {
            width: 50%;
            padding-left: 5px;
            margin: auto;
            float: right;


            img {
                object-fit: contain;
                max-width: 100%;
                max-height: 100%;
            }
        }



        &--attributs {
            width: 50%;
            margin-right: 5px;
            padding-bottom: 35px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            border-bottom: 1px solid black;

            h2 {
                margin: 0;
            }

            p {
                font-family: "SpaceMono-Regular";
                ;
            }

        }
    }



    &__contact {
        height: 118px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid black;

        &__left {
            display: flex;
            flex-direction: row;
            width: 50%;
            padding-right: 5px;
            justify-content: space-between;

        }

        &__right {
            width: 81px;
            display: flex;
            flex-direction: column;

            &--thumbnail {
                height: 71px;

            }

            &--arrow {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                img{
                    width:25px;
                }

            }
        }
    }
}



@media (max-width : 782px) {
    .photo {

        top: 72px;
    }

}